body {
    padding-top: 30px;
    padding-bottom: 30px;
}

#tilesWrapper { 
    width: 448px;
    margin: auto;
    position: relative;
}

.tileCell {
    width: 110px;
    height: 110px;
    border: 8px solid #bbada0;
    float: left;
    background-color: #eee4da;
    margin-top: -8px;
    margin-left: -8px;
}

.tile {
    width: 90px;
    height: 90px;
    background-color: #eee4da;
    z-index: 50;
    padding-top: 30px;
    margin-top: -8px;
    margin-left: -8px;
    position: absolute;
    text-align: center;
    display: none;
    font: bold 30px verdana;
    color: #5C5B57;
}

#displayScore {
    margin-left: -40px;
    margin-bottom: 10px;
    text-align: center;
    font: bold 30px arial;
    color: #CFC8B5;
}